<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome <%= user.username %>!</h1>
    <h2>Your Projects:</h2>

    <% if ( projects.length > 0) { %>
    <ul>
      <% projects.forEach(project => { %>
      <li><%= project.projectname %></li>
      <li><%= project.author %></li>
      <li><%= project.description %></li>
      <!-- Display more project details as needed -->
      <% }) %>
    </ul>
    <% } else { %>
    <p>No projects added yet</p>
    <% } %>

    <a href="/projects/create?userId=<%= user._id %>">Add Project</a>
  </body>
</html>
