<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome <%= user.username %>!</h1>
    <h2>Click on the project name to see issues</h2>
    <input type="text" id="searchInput" placeholder="Search projects..." />
    <h2>Your Projects:</h2>

    <% if ( projects.length > 0) { %>

    <ul>
      <% projects.forEach(project => { %>
      <a href="#">
        <div class="box" id="project-card">
          <li>
            Project:
            <a href="/issues?projectId=<%= project._id %>" id="project-name"
              ><%= project.projectname %></a
            >
          </li>
          <li>Author:<%= project.author %></li>
          <li>Description:<%= project.description %></li>
          <li>
            <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
          </li>
          <li>
            <a href=""><i class="fa-solid fa-trash"></i></a>
          </li>
        </div>
      </a>
      <% }) %>
    </ul>

    <% } else { %>
    <p>No projects added yet</p>
    <% } %>
    <div class="addProject">
      <a href="/projects/create?userId=<%= user._id %>"
        >Add Project<i class="fa-solid fa-plus"></i
      ></a>
    </div>
    <div id="searchResults"></div>
    <script src="js/search.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
